{% extends "layout.html" %}
{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Test the laws of BEE</h1>
                            <span class="subheading">Dont 'Trust' the law just 'Test' the law</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                <div>
                    <a href="/kvl" target="_blank"><button class="btn-primary"  >Test Kirchhoff's voltage law(KVL)</button></a>
                </div>
                <br>
                <div>
                    <a href="/kcl" target="_blank"><button class="btn-primary"  >Test Kirchhoff's Current law(KCL)</button></a>
                </div>
                <br>

                </div>
            </div>
        </div>
        {% endblock %}