{% extends "layout.html" %}
{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>WELCOME TO VIRTUAL LAB</h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                <div>
                    <a href="{{params['exp_by_students']}}" target="_blank"><button class="btn-primary">experiments by students</button></a>
                </div>
                <br>
                <div>
                    <a href="{{params['virtual_lab_ac']}}" target="_blank"><button class="btn-primary">circuit connection kit for AC</button></a>
                </div>
                <br>
                <div>
                    <a href="{{params['virtual_lab_dc']}}" target="_blank"><button class="btn-primary">circuit connection kit for DC</button></a>
                </div>
                <br>
                <div>
                    <a href="{{params['virtual_lab_machines']}}" target="_blank"><button class="btn-primary">circuit connection kit for machines</button></a>
                </div>
                <br>

                </div>
            </div>
        </div>
        {% endblock %}